:root {
  --neutral-900: #121212;
  --neutral-800: #262626;
  --neutral-500: #717178;
  --neutral-400: #949497;
  --neutral-0: #ffffff;
  --blue-600: #177dff;
  --blue-400: #4ca6ff;
  --red-500: #d64d5b;
  --green-500: #4dd67b;
  --yellow-400: #f4dc73;

  --spacing-0: 0px;
  --spacing-25: 2px;
  --spacing-50: 4px;
  --spacing-75: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  --radius-o: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 9999px;

  --text-xs: 12px;
  /* --text-sm: 14px; */
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-400);
}

.container {
  padding: var(--spacing-400) var(--spacing-1400);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-100);
}

.settings {
  margin-top: var(--spacing-800);
  padding-bottom: var(--spacing-250);
  border-bottom: var(--neutral-400) 1px solid;
  margin-bottom: var(--spacing-400);
}

.stat li {
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  border-left: var(--neutral-400) 1px solid;
}

.stat li:first-child {
  border-left: none;
  padding-left: 0;
}

.stat .label {
  font-size: var(--text-xl);
}
.stat .content {
  font-size: var(--text-2xl);
  color: var(--neutral-0);
  font-weight: 600;
}

.main {
  padding-bottom: var(--spacing-800);
  border-bottom: var(--neutral-400) 1px solid;
}

.text-to-type {
  font-size: var(--text-4xl);
  line-height: 1.6;
  color: var(--neutral-0);
}

.footer {
  padding: var(--spacing-300) 0;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  padding: var(--spacing-75) var(--spacing-125);
  border: var(--neutral-400) 1px solid;
  border-radius: var(--radius-8);
  font-size: var(--text-md);
  transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked + label {
  border-color: var(--blue-400);
  color: var(--blue-400);
}

.btn {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  margin: 0 auto;
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border-radius: var(--radius-12);
  padding: var(--spacing-200);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.correct {
  color: var(--green-500);
}

.incorrect {
  color: var(--red-500);
}

.neutral {
  color: var(--neutral-400);
}

.current {
  text-decoration: underline;
  text-decoration-color: var(--yellow-400);
}
